<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration status="DEBUG" monitorInterval="30">
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置 target:SYSTEM_OUT 或 SYSTEM_ERR,一般只设置默认:SYSTEM_OUT.-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用-->
        <File name="LocalLog" fileName="${sys:user.home}/flink-logs/flink-local-test.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <!-- kafka appender -->
<!--        <Kafka name="Kafka" topic="flink-log-test" >-->
<!--            <JsonLayout complete="true" >-->
<!--                &lt;!&ndash;                <KeyValuePair key="additionalField1" value="constant value"/>&ndash;&gt;-->
<!--                &lt;!&ndash;                <KeyValuePair key="additionalField2" value="$${ctx:key}"/>&ndash;&gt;-->
<!--            </JsonLayout>-->
<!--            <Property name="bootstrap.servers">172-16-244-42.aibee.cn:9092</Property>-->
<!--        </Kafka>-->
    </appenders>
    <!--定义loggers，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <!--　level:日志输出级别 同上 -->
        <root level="DEBUG">
            <!-- AppenderRef：Root的子节点，用来指定该日志输出到哪个Appender. -->
            <appender-ref ref="Console"/>
<!--            <appender-ref ref="Kafka"/>-->
            <!-- 本地测试时使用 -->
            <!--           <appender-ref ref="LocalLog"/>-->
        </root>
        <!-- Logger节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等. level 级别同上-->
        <logger name="com.aibee" level="DEBUG" >
        </logger>
    </loggers>
</configuration>
